<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Kategoria</title>
</head>
<body>

<main layout:fragment="content">
    <div class="d-flex flex-nowrap">
        <div class="p-2 flex-grow-1">
            <div class="card text-center" style="width: 90%">
                <div class="card-header" th:height="10px"></div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${category.type}"></h5>
                    <img th:src="@{${category.urlCategory}}" height="300px" width="auto">
                    <p class="card-text" th:text="${category.description}"></p>
                    <a href="/" class="btn btn-primary">Wróć do strony głównej</a>
                </div>
                <div class="card-footer text-muted" th:height="10px"></div>
            </div>
        </div>
        <div class="order-2 p-2" style="margin-right: 40px">
            <a href="/categories/recipies/dodaj" class="btn btn-primary">Dodaj swój przepis</a>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="przepis: ${recipies}">
                    <div class="card shadow-sm" style="width: 95%">
                        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Obrazek</text></svg>><-->
                        <img th:src="@{${przepis.recipeUrl}}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text" th:text="${przepis.name}"></p>
                            <a th:href="'/categories/recipies/' + ${przepis.id}" th:text="${przepis.name}" class="btn btn-primary"></a>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted" th:text="'Czas przygotowania: ' + ${przepis.prepareTime} + ' minut'">czas przygotowania</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>