<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>KitchenMania</title>
</head>
<body>
<main layout:fragment="content">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="kategoria: ${recipeCategories}">
                    <div class="card shadow-sm" style="width: 95%">
                        <img th:src="@{${kategoria.urlCategory}}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text" th:text="${kategoria.description}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a th:href="'/categories/' + ${kategoria.getId()}" th:text="${kategoria.type}" class="btn btn-primary"></a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>>
</html>