<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>KitchenMania</title>
</head>
<body>
<main layout:fragment="content">

<!--<div class="d-flex justify-content-center" th:if="${highestRatedRecipe}">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <a th:href="'/categories/recipes/' + ${highestRatedRecipe.id}">
                        <img th:src="@{${highestRatedRecipe.recipeImgUrl}}" class="img-fluid rounded-start" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="'Najlepiej oceniony przepis: '+ ${highestRatedRecipe.name}">Card title</h5>
                        <p class="card-text" th:text="${highestRatedRecipe.description}">description</p>
                        <p class="card-text" th:text="'ilość polubień: ' + ${highestRatedRecipe.likedRecipe}">likers</p>
                        <a th:href="'/categories/recipes/' + ${highestRatedRecipe.id}" th:text="${highestRatedRecipe.name}" class="btn btn-primary"></a>

                    </div>
                </div>
            </div>
        </div>
</div>
-->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="kategoria: ${recipeCategories}">
                    <div class="card shadow-sm" style="width: 95%">
                        <a th:href="'/categories/' + ${kategoria.getId()}">
                            <img th:src="@{${kategoria.imgUrl}}" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <p class="card-text" th:text="${kategoria.description}">example</p>
                            <a th:href="'/categories/' + ${kategoria.getId()}" th:text="${kategoria.type}" class="btn btn-primary"></a>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted" th:text="'ilość przepisów: ' + ${kategoria.recipes.size()}">ilość przepisów</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>>
</html>