<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Przepis</title>
</head>
<body>
<main layout:fragment="content">
    <div class="clearfix" th:each="opis: ${descriptions}">
        <img th:src="@{${recipe.recipeUrl}}" class="col-md-6 float-md-end mb-3 ms-md-3">
        <h5 th:text="${recipe.name}"></h5>
        <p th:text="'data dodania wpisu:' + ${opis.getDate()}"></p>
        <p th:text="'Opis: ' + ${opis.description}"></p>
        <p th:text="'Składniki: ' + ${opis.ingredients}"></p>
        <p th:text="'Przygotowanie: ' + ${opis.instruction}"></p>
    </div>
</main>
</body>
</html>